# Work git config - managed by Ansible
{% if op_installed | default(false) %}
[user]
    name = {{ git_user_name }}
{% if git_work_email_result is defined and git_work_email_result.stdout is defined and git_work_email_result.stdout | length > 0 %}
    email = {{ git_work_email_result.stdout }}
{% endif %}
{% if git_signing and git_work_signing_key_result is defined and git_work_signing_key_result.stdout is defined and git_work_signing_key_result.stdout | length > 0 %}
    signingkey = {{ git_work_signing_key_result.stdout }}
{% endif %}
{% endif %}

{% if git_signing %}
[gpg]
    format = ssh

[gpg "ssh"]
    program = /opt/1Password/op-ssh-sign

[commit]
    gpgsign = true
{% endif %}

[credential "https://git.mbos.cloud"]
    provider = gitlab
    gitLabDevClientId = 7947ddff92d2e3a0f062abb29f866ca57cf4acef87f0cb934e219fffed1af060
    gitLabAuthModes = browser
