#############################
### ENVIRONMENT VARIABLES ###
#############################
# Managed by Ansible - nvidia role

env = XCURSOR_SIZE,24
env = HYPRCURSOR_SIZE,24

{% for key, value in nvidia_environment_vars.items() %}
env = {{ key }},{{ value }}
{% endfor %}
