[user]
    name = {{ git_user_name }}
{% if work_email_result is defined and work_email_result.stdout is defined and work_email_result.stdout | length > 0 %}
    email = {{ work_email_result.stdout }}
{% endif %}
{% if git.signing and work_signing_key_result is defined and work_signing_key_result.stdout is defined and work_signing_key_result.stdout | length > 0 %}
    signingkey = {{ work_signing_key_result.stdout }}
{% endif %}

{% if git.signing %}
[gpg]
    format = ssh

[gpg "ssh"]
{% if ansible_host_environment_is_wsl | default(false) | bool %}
    program = /mnt/c/Program Files/1Password/app/8/op-ssh-sign-wsl.exe
{% else %}
    program = /opt/1Password/op-ssh-sign
{% endif %}

[commit]
    gpgsign = true
{% endif %}
